.jumbotron {
    margin-bottom: 0;
}

.heroSection {
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.mainPage {
    padding-left: 0;
    padding-right: 0;
}

#homeLink {
    color: white;
}

a.nav-link {
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.heading {
    margin-top: 35vh;
}

.searchingSection {
    height: 100vh;
}

.scrollReminder {
    position: absolute;
    bottom: 1rem;
    left:50%;
}

.recipeHeading {
    margin-bottom: 2rem;
}

.ingredientsHeading {
    margin-top: 5rem;
}

.recipeImage {
    height: 40vh;
}

.instruction {
    padding: 3rem;
}