.jumbotron {
    margin-bottom: 0;
}

.heroSection, .header {
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.header {
    height: 20vh;
    background-image: url("../img/header.jpeg");
    margin-bottom: 2rem;
}

.mainPage {
    padding-left: 0;
    padding-right: 0;
}

#homeLink {
    color: white;
}

a.nav-link {
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.heading {
    margin-top: 35vh;
}

.searchingSection {
    height: 100vh;
}

.scrollReminder {
    position: absolute;
    bottom: 1rem;
    left:50%;
}

.recipeHeading {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recipeDescription {
    padding: 1rem;
}

.ingredientsHeading {
    margin-top: 5rem;
}

.recipeImage {
    height: 40vh;
}

.instruction {
    padding: .5rem;
}

.instructionImage {
    max-height: 30rem;
}

.ingredient {
    padding: 1rem;
}

.startCooking {
    height: 25%;
}

.stepByStep {
    font-size: 24px;
}

.chevron {
    height: 100%;
}

.stepChevron {
    padding: 0;
}

.stepByStepInstruction {
    min-height: 50vh;
}

.signUpMain {
    padding: 1rem;
}

.material-icons {
    color: black;
}

i:hover {
    cursor: pointer;
}

.addInstruction {
    margin-left: 0;
}

#fraction {
    font-size: 1.5em;
}

.formSubHeading {
    margin-bottom: 1rem;
}